/* ----------------------------------------------------------------------------------------------------------------------------------------------- */
/**************************************************ces styles s'appliquent à tout les element de la page*******************************************/
*{
  padding: 0px;/*pagination*/
  margin: 0px;/*margin*/
  box-sizing: border-box;/*genre de boîte*/
  font-family: arial,sans-serif;/*police*/
}


/* ----------------------------------------------------------------------------------------------------------------------------------------------- */
/**************************************************************corps de la page*********************************************************************/
body
{
  height: 100%;/*hauteur*/
}
main
{
  width: 700px;/**/
  margin: 0px 150px;/**/
}


/* ----------------------------------------------------------------------------------------------------------------------------------------------- */
/**********************************************************listes d'entête et de pied de page*******************************************************/
.list-modif{
  display: flex;/*aligner un bloc*/
}


.flex-column{
  flex-direction: column;/*créer une colonne dans une liste*/
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------- */
/**************************************************** entête du contenu de la page**************************************************************/
header{
  padding: 18px 0px 0px 0px;/*Pagination*/
  width: 100%;/*largeur*/
  border-bottom: 1px solid rgb(230, 230, 230);/*bordure du dessous*/
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------- */
/*********************************************************barre de recherche**********************************************************************/
#search-bar{
  width: 700px;/*largeur de l'élément*/
  padding: 13px;/*gerer la pagination*/
  border-radius: 25px;/*bordures arrondies*/
  border: 1px solid rgb(233, 233, 233);/*définition des bordure à 1 pixel couleur grise*/
  outline: none;/*pas d'hors ligne*/
}


/* ----------------------------------------------------------------------------------------------------------------------------------------------- */
/********************************************************texte dans la barre de recherche***********************************************************/
::placeholder
{
  color: black;/*couleur*/
  font-weight: 500;/*grosseur du texte*/
  font-size: 14px;/*taille des caractères*/
  text-decoration: none;/*aucune décoration sur le texte*/
}


/* ----------------------------------------------------------------------------------------------------------------------------------------------- */
/*********************************************************entête de l'entête du contenu de la page*************************************************/
#t-entete{
  align-items: center; /*aligner les eléments au centre*/
}


/* ----------------------------------------------------------------------------------------------------------------------------------------------- */
/*********************************************************pied de l'entête du contenu de la page***************************************************/
#p-entete
{
  width: 670px;/**/
  margin-left: 150px;/*marge à gauche*/
  font-size: 13px;/**/
  color: rgb(83, 83, 83);/**/
  margin-top: 20px;/*marge en haut*/
  padding: 15px 0px;/**/
}

#tous{
  color: blue;/*couleur du contenu*/
  border-bottom: 4px solid blue; /*bordure du dessous*/
}


/* ----------------------------------------------------------------------------------------------------------------------------------------------- */
/*******************************************************************liste de gauche***************************************************************/
#list-modif-gauche{
  flex: 3;/*écart*/
  justify-content: space-between;/*mettre les espaces entre les éléments*/
  margin-right: 180px;/*marge à droite*/
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/*******************************************************************liste de droite***************************************************************/
#list-modif-droite{
  flex: 1;
  justify-content: space-between;
}


/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/******************************************************************* logo google *****************************************************************/
#google-logo
{
  margin: 0px 30px 0px 15px;/**/ 
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------- */
/******************************************************************* premier résultat ************************************************************/
#result1
{
  border: 1px solid rgb(228, 228, 228);/**/
  border-radius: 5px;/*type de bordure*/
  padding: 15px;/**/
  margin-bottom: 40px;/**/
}

#result1-dessous
{
  margin-top: 15px;/**/
}
#result1-dessous a
{
  font-size: 19px;/**/
}
#result-url
{
  margin-bottom: 10px;/**/
}


/* ------------------------------------------------------------------------------------------------------------------------------------------------- */
/******************************************************************* tous les liens *************************************************************/
a
{
  text-decoration: none;/**/
  color: rgb(0, 0, 201);/**/
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------- */
/*************************************************************** resultats des sites web *******************************************************/
.result-website 
{
  margin: 10px 0px;/**/
}
#no-results
{
  margin: 15px 0px;/**/
  color: gray;/**/
  font-size: 13px;/**/
}
#r-similaire
{
  margin: 35px 0px;/**/
  border: 1px solid rgb(228, 228, 228);/**/
  border-radius: 10px;/**/
}

#r-similaire p 
{
  border-bottom: 1px solid rgb(228, 228, 228);/**/
  padding: 15px;/**/
  font-size: 16px;/**/
}



/* ---------------------------------------------------------------------------------------------------------------------------------------------------- */
/*************************************************************** pied de page (footer) ******************************************************************/
footer
{
  background-color: rgb(253, 253, 239);/**/
  font-size: 14px;/**/
  color: gray;/**/
}
/*gras*/
strong
{
  color: black;/**/
}

#slash
{
  margin: 0px 9px;/**/
  color: rgb(202, 202, 202);/**/
}
#haut-footer
{  
  border-bottom: 1px solid rgb(177, 177, 177);/**/
}
#bas-footer
{
  background-color:  rgb(255, 255, 239);/**/
}
#haut-footer, #bas-footer
{
  padding: 10px 0px 10px 150px;/**/
}
#bas-footer p{
  margin-right: 30px;
}


/* ------------------------------------------------------------------------------------------------------------------------------------------- */
/*********************************************************************** résultats ****************************************************/
.result
{ 
  margin: 25px 0px;/**/
}
.result a {
  font-size: 21px;
}
.result a:hover{
  text-decoration: underline;
}
.result-url
{
  margin-bottom: 8px;/**/
  font-size: 14px;/**/
}
#liens 
{
  margin-top: 8px;/**/
}
#liens a
{
  font-size: 13px;/**/
  margin-right: 10px;/**/
}
#result-url
{
  color: rgb(66, 66, 66);
  font-size: 12px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------- */
/*********************************************************** descriptions *******************************************************************/
.description
{
  margin-top: 8px;/**/
  font-size: 15px;/**/
  color: rgb(87, 87, 87);/**/
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/***************************************************************** page suivante ************************************************************/
#next-page 
{
  margin-left: 40px;/**/
}
#gooogle
{
  margin-left: 30px;/**/
}
#pages
{
  margin-left: 180px;/**/
  margin-bottom: 30px;/**/
}
#pages p 
{
  margin-right: 9px;/**/
}
#pages a
{
 margin-right: 9px;/**/
}
#page-numbers
{
  margin-left: 50px;/**/
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------- */
/************************************************************ recherche similaire ******************************************************************/
#r-similaire
{
  margin-bottom: 20px;/**/
}
#r-similaire p
{
  font-size: 19px;/**/
}
#r-similaire a
{
  margin-top: 11px;/**/
  font-weight: bold;/**/
}